@import './modules/_navbar.sass'
@import './modules/_pageAccueil.sass'
@import './modules/_login.sass'
@import './modules/_profil.sass'
@import "./modules/_timesheet.sass"
@import "./modules/_home.sass"

.disparition
    display: none

.darkMode
    background-color: #2d3436
    height: 100vh
    font-family: sans-serif

.lightMode
    background-color: grey
    height: 100vh
    font-family: sans-serif
