@import './modules/_navbar.sass'
@import './modules/_pageAccueil.sass'
@import './modules/_login.sass'
@import "./modules/_timesheet.sass"

    
.disparition
    display: none
body
    background-color: #2d3436
    height: 100vh
    font-family: sans-serif
