.logodiv {
  margin-top: 50px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
}

.imglogo {
  height: 80px;
}

.logo {
  color: red;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative;
  display: block;
  font-weight: 750;
  font-size: 1.35em;
  text-decoration: underline black;
}

.logo .redwork {
  color: black;
  -webkit-text-stroke-color: white;
}

.nav__cont {
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  transition: width .3s ease;
  cursor: pointer;
  box-shadow: 4px 7px 5px 0px #fb3333;
}

.nav__cont:hover {
  width: 260px;
}

.nav__cont:hover img {
  height: 80px;
}

@media screen and (min-width: 600px) {
  .nav__cont {
    width: 80px;
  }
  .nav__cont .nav {
    margin-top: 50px;
    list-style-type: none;
    color: #2d3436;
  }
  .nav__cont .nav:first-child {
    padding-top: 1.5rem;
  }
  .nav__cont .nav .nav__items {
    padding: 10px 0px;
    margin-bottom: 4rem;
    padding-left: 15px;
    display: flex;
    align-items: center;
  }
  .nav__cont .nav .nav__items:hover {
    color: white;
    background-color: #2d3436;
  }
  .nav__cont .nav .nav__items:hover i {
    border: white 2px solid;
    box-shadow: 0px 0px 0px 3px #545454;
  }
  .nav__cont .nav .nav__items:hover a {
    color: white;
  }
  .nav__cont .nav .nav__items .divbtn {
    margin-left: 25px;
    display: flex;
  }
  .nav__cont .nav .nav__items .divbtn i {
    font-size: 35px;
    padding: 0px;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 0px 0px 0px 0px;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
  }
  .nav__cont .nav .nav__items i {
    font-size: 35px;
    padding: 7px;
    border: black 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px #58515166;
  }
  .nav__cont .nav .nav__items .fa-home {
    padding: 4.5px;
  }
  .nav__cont .nav .nav__items button {
    margin-left: 35px;
  }
  .nav__cont .nav .nav__items a {
    position: relative;
    display: block;
    margin-left: 25px;
    text-decoration: none;
    color: #2d3436;
    font-weight: 750;
    font-size: 25px;
  }
}

.lbl {
  position: relative;
  margin-left: 0px;
  margin-top: 40px;
  display: block;
  height: 20px;
  width: 44px;
  background: #282861;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
  border: black 1px solid;
}

.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: white;
  border: black 1px solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  content: '';
  transition: all .3s ease;
}

.lbl:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label {
  background: yellow;
}

.cbx:checked ~ label:after {
  left: 20px;
}

.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.press {
  margin-bottom: 40px;
}

.hidden {
  display: none;
}

#mode {
  height: 50px;
  width: 100px;
  font-size: 25px;
  color: black;
  background: none;
  outline: none;
}

.container {
  position: absolute;
  top: 55vh;
  left: 70vh;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  transition: all .3s ease;
}

.container span {
  display: block;
}

.primary {
  font-size: 80px;
  letter-spacing: 10px;
  display: inline-block;
  margin-bottom: 25px;
  animation: ok 3s 1;
  background: #2d3436;
}

.secondary {
  font-size: 65px;
  letter-spacing: 10px;
  color: red;
  position: relative;
  z-index: -1;
}

.tertiary {
  background: white;
  padding: 20px 30px;
  font-size: 20px;
  outline: none;
  color: white;
  margin-top: 150px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #3e4a4e;
}

@keyframes ok {
  0% {
    color: #2d3436;
    margin-bottom: -100px;
  }
  30% {
    letter-spacing: 30px;
    margin-bottom: -100px;
  }
  85% {
    letter-spacing: 15px;
    margin-bottom: -100px;
  }
}

.box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 100px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

p {
  font-style: 100px;
}

.register {
  color: #03a9f4;
}

.box {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

a {
  color: #fff;
  margin-left: 2%;
}

.container h3 {
  font-size: 80px;
  padding: 20px;
}

.proffil {
  padding-top: 25vh;
}

#card {
  max-width: 450px;
  height: 500px;
  background-color: whitesmoke;
  margin: auto;
  box-shadow: 4px 7px 5px 0px #fb3333;
  border-radius: 8px;
}

#card .card {
  text-align: center;
}

#card .card-picture {
  width: 300px;
  height: 340px;
}

#card .card-picture img {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

#card .fill-qr-code {
  position: absolute;
  margin: 0 auto;
  top: 24px;
  left: 0;
  right: 0;
}

#card .fill-qr-code .icon {
  position: absolute;
  margin: 0 auto;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
  color: black;
  z-index: 10;
}

#card .fill-social-picture {
  position: absolute;
  margin: 0 auto;
  top: 24px;
  left: 0;
  right: 0;
  border: 1px solid black;
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

#card .fill-social-picture .icon {
  position: absolute;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 18px;
  padding: 15px;
}

#card #card-name {
  width: 300px;
  margin: 0 auto;
}

#card #card-name p.name {
  font-size: 20px;
  margin: 0;
  font-weight: 800;
}

.icon-1 {
  top: 0px;
  padding: 12px;
  left: 160px;
  right: 0;
  font-size: 24px;
  bottom: -24px;
  left: 0;
  right: 0;
  background: #0274b3;
  color: white;
}

.icon-2 {
  bottom: -12px;
  left: -120px;
  right: 0;
  background: #131112;
  color: white;
}

.icon-3 {
  bottom: -12px;
  left: 0;
  right: -120px;
  background: #1ea2f1;
  color: white;
}

.fond {
  background-image: url("../../img/desk.gif");
  background-size: cover;
  height: 100vh;
}

.boddy {
  margin-left: 80px;
}

.Timesheettt h3 {
  color: white;
  font-size: 30px;
  text-align: right;
  margin-right: 10px;
}

.mesUl {
  margin: 30px;
}

.mesLi {
  border-bottom: 1px solid white;
  margin: 10px;
}

.Titre {
  padding-bottom: 50px;
  font-size: 40px;
  text-decoration-line: underline;
}

div {
  text-align: center;
}

.info {
  margin: 35px 400px;
  border: red 2px solid;
  background-color: black;
  border-radius: 20px;
}

.logo2 {
  color: red;
  text-transform: uppercase;
  margin-left: 20px;
  position: relative;
  display: block;
  font-weight: 750;
  font-size: 1.35em;
  text-align: center;
  font-size: 50px;
}

.logo2 .redwork2 {
  color: white;
  -webkit-text-stroke-color: black;
}

.divlogo {
  border: 1px solid red;
  max-width: max-content;
  margin-left: 85vh;
  border-radius: 100px;
  padding: 20px;
  background-color: black;
}

.titre1 {
  font-size: 35px;
  color: white;
  text-decoration: underline;
  margin: 20px;
}

.pext {
  margin: 20px;
  color: white;
  font-size: 23px;
}

.kwd {
  background-image: url("../../img/time2.jpg");
  background-size: cover;
  height: 100vh;
}

.test {
  margin-top: 100px;
  height: 119px;
  position: relative;
}

.heure {
  margin-top: -93px;
  color: white;
  z-index: 1000;
  position: absolute;
  margin-left: 89vh;
  font-size: 31px;
  font-family: 'Orbitron', sans-serif;
}

.disparition {
  display: none;
}

.darkMode {
  background-color: #2d3436;
  height: 100vh;
  font-family: sans-serif;
}

.lightMode {
  background-color: grey;
  height: 100vh;
  font-family: sans-serif;
}
